
@model PagedList.IPagedList<Company.Models.Employee>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>


<style>
    table, th, td {
        border: 1px solid black;
    }

    td {
        text-align: center;
    }
</style>
<p>
     @Html.ActionLink("Create New", "Create" )
</p>
           @using (Html.BeginForm("Index", "Employee", FormMethod.Get)) {

<p>
    Search the Data you Need : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" id="search" />
   
</p>
}
<table class="table" style="width : 80%">
    <tr>
        <th>
            @Html.ActionLink("Emp_Id", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Emp_Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Emp_Department", "Index", new { sortOrder = ViewBag.DepartmentSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("MonthlySalary", "Index", new { sortOrder = ViewBag.MonthlySalarySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlySalary)
            </td>
           
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))